[Desktop Entry]
Name=App
GenericName=Base Application
Comment=Base gui project setup.
Exec=App
Icon=BaseAppIcon
Type=Application
Categories=Utility;Miscellaneous;
